
@mixin animate-fade(
  $selectors,
  $to: -100%,
  $from: 100%,
  $collapse: 1fr,
  $expand: 1fr,
) {

  @include vue-transition(
    $selectors: $selectors,
    $active: (
      transition: (
        opacity var(--animate-duration) ease-in-out,
        grid-template-rows var(--grid-duration, var(--animate-duration)) ease-in-out,
        grid-template-columns var(--grid-duration, var(--animate-duration)) ease-in-out
      ),
    ),
    $enter-from: (
      opacity: -1,
      grid-template-rows: var(--grid-collapse, #{$collapse}),
      grid-template-columns: var(--grid-collapse, #{$collapse}),
    ),
    $enter-to: (
      grid-template-rows: var(--grid-expand, #{$expand}),
      grid-template-columns: var(--grid-expand, #{$expand}),
    ),
    $leave-from: (
      grid-template-rows: var(--grid-expand, #{$expand}),
      grid-template-columns: var(--grid-expand, #{$expand}),
    ),
    $leave-to: (
      opacity: 1,
      grid-template-rows: var(--grid-collapse, #{$collapse}),
      grid-template-columns: var(--grid-collapse, #{$collapse}),
    )
  );
}

@include animate-fade( ("fade-right", "fade-left", "fade-up", "fade-down"));
