.background-overlay {
  position: relative;
  z-index: 0;
  --bg-rgb: var(--bs-black-rgb);
  --bg-opacity: var( --bs-bg-opacity );
  &:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba( var( --bg-rgb ), var( --bg-opacity ) );
    z-index: -1;
  }
}
