

 @each $breakpoint, $container-min-width in $container-max-widths {

  @media (min-width: $container-min-width) {

    .grid-staggered-layout-#{$breakpoint} {
      --start: 0;
    }

    .grid-staggered-layout-#{$breakpoint}:nth-of-type(even) {
      --even: calc( var(--start) * 1 );
      --odd: calc(1 - var(--start)); 
    } 

    .grid-staggered-layout-#{$breakpoint}:nth-of-type(odd) {
      --even: calc( (1 - var(--start)) * 1 );
      --odd: calc(var(--start));
    }

  }
  
}