
@each $breakpoint, $container-max-width in $grid-breakpoints {
    @media (max-width: $container-max-width) {
        
        .navbar.navbar-expand-#{$breakpoint} { 
            .pockets-navbar.navbar-nav.navbar-collapse {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
            }
        }

    }

}

