/**
  This is used by vue to create a mappable list of options
  that correlate to bootstrap classes. Can be used to create
  a UX for applying bootstrap styling to elements.
*/
@use "sass:string";
@use "sass:map";
@import "../bs/functions";
@import "../bs/mixins"; 
@import "../bs/variables";
@import "../functions/index";  
@import "../variables/index";
 
@function convert-to-option($map) {

  $keys: "";

  @each $key, $value in $map {
    $key-str: if( type-of( $key ) == "string", $key, inspect( $key ) );
    $key-str: string.unquote( $key-str );
    $keys: if( $keys == "", $key-str, #{$keys} + "," + $key-str );
  }

  @return $keys;

}

:export {
  
  /**
    Breakpoints is the one property that is absolutely required.
    Everything else is optional.
  */
  breakpoints: convert-to-option( $grid-breakpoints );

  /**
    Styling
  */
  colors: convert-to-option( $theme-colors );

  /**
    Spacing
  */
  gaps: convert-to-option( $spacers );
  padding: convert-to-option( $spacers );
  margin: convert-to-option( append( $spacers, "auto" ) );

  /**
    Layout
  */
  grid-template-columns: convert-to-option( $grid-template-columns );
  column-options: convert-to-option( $columns );
  display-types: convert-to-option( $display-types );
  container-max-width-options: convert-to-option($container-max-widths);
  order-options: convert-to-option( $order-options );
  /**
    Typography
  */
  font-weights: convert-to-option( $font-weights );
  font-sizes: convert-to-option( $font-sizes );
  font-families: convert-to-option( $font-families );
  line-heights: convert-to-option( $line-heights );
  letter-spacings: convert-to-option( $letter-spacings );
  font-styles: convert-to-option( $font-styles );
  font-variants: convert-to-option( $font-variants );
  text-aligntments: convert-to-option( $text-aligntments );
  
  /**
    Borders
  */
  border-widths: convert-to-option( $border-widths );
  border-radiuses: convert-to-option( $border-radiuses );
  border-corner-radiuses: convert-to-option( $border-corner-radiuses );
  
  /**
    Flex
  */
  flex-justify-options: convert-to-option( $flex-justify-options );
  flex-wrap-options: convert-to-option( $flex-wrap-options ); 
  flex-align-options: convert-to-option( $flex-align-options );
  flex-direction-options: convert-to-option( $flex-direction-options );

}