$flex-justify-options: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
);

$flex-align-options: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);
 
$flex-wrap-options: (
  nowrap: nowrap,
  wrap: wrap,
  "wrap-reverse": wrap-reverse
);

$flex-direction-options: (
  row: row,
  "row-reverse": row-reverse,
  column: column,
  "column-reverse": column-reverse
);