
$input-padding-y: 15px;
$input-padding-x: 15px;
$input-bg: #f7f7f7;

$input-focus-box-shadow: transparent;
$transition-collapse: none;

$btn-active-bg-shade-amount: 50%;
$btn-border-width:  2px;
$btn-font-weight: 800; 
