
$container-max-widths: (
  xxl: 1440px,
  xl: 1268px,
  lg: 1040px,
  md: 768px,
  sm: 540px,
  xs: 320px
);

$spacers:(
  'half': 5px,
  0: 0px,
  1: 10px,
  2: 20px,
  3: 30px,
  4: 40px,
  5: 50px,
  6: 60px,
  7: 70px,
  8: 80px,
  9: 90px,
  10: 100px,
);

$gutters: (
  0: 0px,
  1: 10px,
  2: 20px,
  3: 30px,
  4: 40px,
  5: 50px, 
);


$grid-breakpoints: (
  none: 0,
  xs: 320px,
  sm: 540px,
  md: 768px,
  lg: 1040px,
  xl: 1200px,
  xxl: 1440px
);

/**
  Used for columns-x-size
*/
$grid-template-columns: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
);

/**
  Set BS columns to 12. Used for col-{breakpoint}-{count} classes
*/

$display-types: (
  none,
  inline,
  inline-block,
  block,
  grid,
  table,
  table-row,
  table-cell,
  flex,
  inline-flex
);

$grid-columns: 12;

$columns: $grid-template-columns;
$columns: append( $columns, "auto" );
$columns: append( $columns, "col" );

$max-heights: (
  100px: 100px,
  150px: 150px,
  200px: 200px,
  300px: 300px,
  400px: 400px,
  500px: 500px,
  600px: 600px,
  700px: 700px,
  800px: 800px,
  900px: 900px,
  1000px: 1000px,
);

$heights: (
  10vh: 10vh,
  20vh: 20vh,
  30vh: 30vh,
  40vh: 40vh,
  50vh: 50vh,
  60vh: 60vh,
  70vh: 70vh,
  80vh: 80vh,
  90vh: 90vh,
  100vh: 100vh,
);

$order-options: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "6": 6,
  "7": 7,
  "8": 8,
  "9": 9,
  "10": 10,
  "11": 11,
  "12": 12,
  "first": 'first',
  "last": 'last',
  "auto": 'auto'
);

$spacer: 10px;

$grid-gutter-width: 40px; // this ends up divided by 2 cuz bootstrap

$enable-negative-margins: true;

$enable-cssgrid: true;

$max-widths: generate-max-widths();