.cart-item-column-layout {

    display: grid;
    grid-template-columns: 80px 6fr 2fr 160px 2fr;
    gap: 40px;
    align-items:center;

    @include media-breakpoint-down(lg) {
        &.cart-item-column-layout-header {
            display: none
        }
        padding:20px;
        grid-template-columns: 1fr;
        gap: 10px;
        
        .product-column[label=''] {
            display: none;
        }

        .product-column:not([label='']) {

            display: grid;
            grid-template-columns: 120px 1fr;
            align-items: center;
            &.product-column-image {
                grid-template-columns: 120px 80px;
            }
            &:before {
                content: attr(label); 
                font-weight: 800;
                
            }

        }

    }

}
 